---
http_interactions:
- request:
    method: get
    uri: https://api.razorpay.com/v1/payments/pay_B2LESkluKR1eHQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfdWtvajZSZE1CM0g1M1c6RTc3UXpYZmdkOXk2S1Y2V3BHTVk0Nzg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"pay_B2LESkluKR1eHQ","entity":"payment","amount":1200,"currency":"INR","status":"authorized","order_id":null,"invoice_id":null,"international":false,"method":"card","amount_refunded":0,"refund_status":null,"captured":false,"description":"Mycomics
        merchant","card_id":"card_B2LETmjQJvaNws","bank":null,"wallet":null,"vpa":null,"email":"neeraj.kumar@gmail.com","contact":"+919717000553","notes":{"address":"Bangalore"},"fee":null,"tax":null,"error_code":null,"error_description":null,"created_at":1537953808}'
  recorded_at: Thu, 27 Sep 2018 18:41:46 GMT
- request:
    method: post
    uri: https://api.razorpay.com/v1/payments/pay_B2LESkluKR1eHQ/capture
    body:
      encoding: UTF-8
      string: amount=1998
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfdWtvajZSZE1CM0g1M1c6RTc3UXpYZmdkOXk2S1Y2V3BHTVk0Nzg4
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BAD_REQUEST_ERROR","description":"Capture amount
        must be equal to the amount authorized","field":"amount"}}'
  recorded_at: Thu, 27 Sep 2018 18:49:54 GMT
- request:
    method: post
    uri: https://api.razorpay.com/v1/payments/pay_B2LESkluKR1eHQ/capture
    body:
      encoding: UTF-8
      string: amount=1200
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfdWtvajZSZE1CM0g1M1c6RTc3UXpYZmdkOXk2S1Y2V3BHTVk0Nzg4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"pay_B2LESkluKR1eHQ","entity":"payment","amount":1200,"currency":"INR","status":"captured","order_id":null,"invoice_id":null,"international":false,"method":"card","amount_refunded":0,"refund_status":null,"captured":true,"description":"Mycomics
        merchant","card_id":"card_B2LETmjQJvaNws","card":{"id":"card_B2LETmjQJvaNws","entity":"card","name":"dgdfhdf","last4":"1111","network":"Visa","type":"debit","issuer":null,"international":false,"emi":false},"bank":null,"wallet":null,"vpa":null,"email":"neeraj.kumar@gmail.com","contact":"+919717000553","notes":{"address":"Bangalore"},"fee":24,"tax":0,"error_code":null,"error_description":null,"created_at":1537953808}'
  recorded_at: Thu, 27 Sep 2018 19:16:48 GMT
[...]
- request:
    method: post
    uri: https://api.razorpay.com/v1/payments/pay_B2LESkluKR1eHQ/capture
    body:
      encoding: UTF-8
      string: amount=1200
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfdWtvajZSZE1CM0g1M1c6RTc3UXpYZmdkOXk2S1Y2V3BHTVk0Nzg4
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BAD_REQUEST_ERROR","description":"This payment has
        already been captured","field":{"payment_id":"B2LESkluKR1eHQ","status":"captured","captured_at":1538075808}}}'
  recorded_at: Thu, 27 Sep 2018 19:17:32 GMT
[...]
- request:
    method: post
    uri: https://api.razorpay.com/v1/payments/pay_B2LESkluKR1eHQ/capture
    body:
      encoding: UTF-8
      string: amount=1200
    headers:
      Authorization:
      - Basic cnpwX3Rlc3RfdWtvajZSZE1CM0g1M1c6RTc3UXpYZmdkOXk2S1Y2V3BHTVk0Nzg4
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":{"code":"BAD_REQUEST_ERROR","description":"This payment has
        already been captured","field":{"payment_id":"B2LESkluKR1eHQ","status":"captured","captured_at":1538075808}}}'
  recorded_at: Thu, 27 Sep 2018 19:18:18 GMT
recorded_with: VCR 4.0.0
